@using Caravan.Service.Dtos.Trucks;
@model TruckCreateDto

<div class="card w-500px h-630px mt-10 mb-15" style="margin-left:auto; margin-right:auto;">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="trucks" enctype="multipart/form-data" asp-action="Create" method="post">
            <label class="form-label fs-2 text-dark" style="">Truck Create</label>
            <div class="mt-5">
                <label class="required form-label text-dark">Truck Name</label>
                <input type="text" asp-for=Name class="form-control form-control-solid"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Image</label>
                <input type="file" asp-for=Image class="form-control form-control-solid"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Truck number</label>
                <input type="text" asp-for=TruckNumber class="form-control form-control-solid"/>
                <span asp-validation-for="TruckNumber" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-dark">Truck Description</label>
                <input type="text" asp-for=Description class="form-control form-control-solid"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Max load</label>
                <input type="number" asp-for=MaxLoad class="form-control form-control-solid"/>
                <span asp-validation-for="MaxLoad" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Truck Location</label>
                <input type="text" asp-for=LocationName class="form-control form-control-solid"/>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Truck.Latitude</label>
                <input type="double" asp-for=TruckLocation.Latitude class="form-control form-control-solid"/>
                <span asp-validation-for="TruckLocation.Latitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Truck.Longitude</label>
                <input type="double" asp-for=TruckLocation.Longitude class="form-control form-control-solid"/>
                <span asp-validation-for="TruckLocation.Longitude" class="text-danger"></span>
            </div>

            <label class="required form-label text-dark mt-5">Is Empty</label>
            <select class="form-select" type="radio" asp-for=IsEmpty name="isEmpty" id="isEmpty">
                <option asp-for=IsEmpty value="true">Empty</option>
                <option asp-for=IsEmpty value="false">Not empty</option>
            </select>

            <div class="mt-13">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Create" />
            </div>
            <div class="mt-5 mb-8">
                <a class="btn btn-secondary" asp-controller="home" asp-action="index" style="width:100%">
                    Close
                </a>
            </div>
        </form>
    </div>
</div>