@using Caravan.Service.Dtos.Trucks;
@model TruckUpdateDto

<div class="card w-500px h-630px mt-10 mb-10" style="margin-left:auto; margin-right:auto;">
    <div class="py-10 pe-10 px-10">
            <label class="form-label fs-2 text-primary" style="">Truck Update</label>
            <div class="mt-5">
                <label class="required form-label text-primary">Truck Name</label>
                <input type="text" asp-for=Name class="form-control form-control-solid"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <form asp-controller="trucks" enctype="multipart/form-data" asp-action="Update" asp-route-truckid="@ViewBag.truckid" method="post">
            <div class="mt-5">
                <label class="required form-label text-primary">Image</label>
                <input type="file" asp-for=Image class="form-control form-control-solid"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Truck number</label>
                <input type="text" asp-for=TruckNumber class="form-control form-control-solid"/>
                <span asp-validation-for="TruckNumber" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-primary">Truck Description</label>
                <input type="text" asp-for=Description class="form-control form-control-solid"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Max load</label>
                <input type="number" asp-for=MaxLoad class="form-control form-control-solid"/>
                <span asp-validation-for="MaxLoad" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Truck Location</label>
                <input type="text" asp-for=LocationName class="form-control form-control-solid"/>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>

            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="UPDATE" />
            </div>
            <div class="mt-5 mb-8">
                <a class="btn btn-secondary" asp-controller="trucks" asp-action="index" style="width:100%">
                    CLOSE
                </a>
            </div>
        </form>
    </div>
</div>