<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-image: url(https://localhost:7265/media/patterns/adminBackground.jpg);
      min-height: 100vh;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;">
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/plugins.site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>