@using Caravan.Service.Dtos.Accounts;
@model AccountLoginDto
@{
    Layout = "_AdminAccountLayout.cshtml";
}

<div class="card w-500px h-630px mt-10 mb-10" style="border: 2px solid rgba(255,255,255,0.1); backdrop-filter: blur(15px); margin-left:auto; margin-right:auto; background-color: rgba(255,255,255,0.13); box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="adminAccounts" asp-action="adminLogin" method="post">
            
            <div class="mt-5">
                <label class="required form-label">Email</label>
                <input type="email" asp-for=Email class="form-control form-control-solid" placeholder="Example@gmail.com" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="mt-5">
                <label class="required form-label">Password</label>
                <input type="password" asp-for=Password class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Sign Up" />
            </div>

            <div class="mt-8 mb-10">
                <a class="btn btn-secondary" style="width:100%;" asp-controller="adminAccounts" asp-action="adminRegister">
                    Sign In
                </a>
            </div>
        </form>
    </div>
</div>
