@using Caravan.Service.Dtos.Accounts;
@model UserResetPasswordDto
@{
    Layout = "../Settings/_SettingsLayout.cshtml";
}

<div class="card w-500px h-630px mt-10 mb-10" style="margin-left:auto; margin-right:auto;">
    <div class="ms-5 me-5">
        <form asp-controller="users" asp-action="ForgetPassword" method="post">
            <label class="form-label fs-2 font-monospace mt-7 ms-5 text-gray-900" style="">Forget Password</label>
            <div class="mt-5">
                <label class="required form-label text-gray-900 font-monospace">Your Email</label>
                <input type="email" asp-for=Email class="form-control form-control-solid" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-gray-900 font-monospace">Code sent to your email</label>
                <input type="text" asp-for=Code class="form-control form-control-solid" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-gray-900 font-monospace">New Password</label>
                <input type="password" asp-for=Password class="form-control form-control-solid" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row-cols-2 me-2">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="SUBMIT" />
            </div>
            <div class="row-cols-2 ms-2">
                <a class="btn btn-secondary" style="width:100%;" asp-controller="users" asp-action="SendEmail">
                    CLOSE
                </a>
            </div>
        </form>
    </div>
</div>