@using Caravan.Service.Dtos.Users;
@model UserDeleteDto
@{
    Layout = "../Settings/_SettingsLayout.cshtml";
}

<div class="card w-500px h-630px mt-10 mb-10" style="margin-left:auto; margin-right:auto;">
    <div class="ms-5 me-5">
        <form asp-controller="users" asp-action="UserDelete" method="post">
            <label class="form-label fs-2 font-monospace mt-7 ms-5 text-gray-900" style="">Delete Account</label>
            <div class="mt-5">
                <label class="required form-label text-gray-900 font-monospace">Your Password</label>
                <input type="text" asp-for=Password class="form-control form-control-solid" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-6 mb-6 d-flex flex-row justify-content-between">
                <div class="row-cols-2 ms-2">
                    <a class="btn btn-secondary" style="width:100%;" asp-controller="Settings" asp-action="Index">
                        CLOSE
                    </a>
                </div>
                <div class="row-cols-2 me-2">
                    <input type="submit" class="btn btn-danger rounded hover-scale" style="width:100%;" value="DELETE"/>
                </div>
            </div>
        </form>
    </div>
</div>