@using Caravan.Service.Dtos.Users;
@model UserDeleteDto
@{
    Layout = "../Settings/_SettingsLayout.cshtml";
}

<div class="card w-500px h-630px mt-10 mb-15" style="margin-left:auto; margin-right:auto;">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="users" asp-action="UserDelete" method="post">
            <label class="form-label fs-2 font-monospace text-gray-900">Delete Account</label>
            <div class="mt-5">
                <label class="required form-label text-gray-900 font-monospace">Your Password</label>
                <input type="text" asp-for=Password class="form-control form-control-solid" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row-cols-2 mt-12    ">
                <input type="submit" class="btn btn-danger rounded hover-scale" style="width:100%;" value="DELETE" />
            </div>
            <div class="row-cols-2 mt-6 mb-8">
                <a class="btn btn-secondary" style="width:100%;" asp-controller="Settings" asp-action="Index">
                    CLOSE
                </a>
            </div>
        </form>
    </div>
</div>