@using Caravan.Service.Dtos.Accounts;
@model AccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="blurred-box w-450px h-480px mt-20 mb-100" style="margin-left:auto; margin-right:auto; box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div class="form signin mx-15 mt-5">
        <form asp-area="" asp-controller="accounts" asp-action="Login" method="post" >
            <label class="form-label fs-2">Sign In</label>
            <div class="form__inputBox mt-8 " >
                <label class="required form-label">Email</label>
                <input type="email" asp-for=Email class="form-control form-control-solid bg-secondary" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form__inputBox mt-8 ">
                <label class="required form-label">Parol</label>
                <input type="password" asp-for=Password class="form-control form-control-solid bg-secondary" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-10">
                <input type="submit" class="btn btn-success" style="width:100%;" value="Login" />
            </div>
            <p class="mt-5">Not Registered ? <a href="https://localhost:7265/accounts/register" class="create">Create an Account</a></p>
        </form>
    </div>
</div>
