@using Caravan.Service.Dtos.Accounts;
@model AccountRegisterDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="card w-500px h-630px mt-10 mb-10" style="border: 2px solid rgba(255,255,255,0.1); backdrop-filter: blur(15px); margin-left:auto; margin-right:auto; background-color: rgba(255,255,255,0.13); box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="accounts" asp-action="register" method="post">
            <label class="form-label fs-2" style="">Sign Up</label>
            <div class="mt-5">
                <label class="required form-label">First Name</label>
                <input type="text" asp-for=FirstName class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Last Name</label>
                <input type="text" asp-for=LastName class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Phone Number</label>
                <input type="text" asp-for=PhoneNumber class="form-control form-control-solid" placeholder="+998yyxxxxxxx" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Address</label>
                <input type="text" asp-for=Address class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Email</label>
                <input type="email" asp-for=Email class="form-control form-control-solid" placeholder="Example@gmail.com" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Password</label>
                <input type="password" asp-for=Password class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check form-check-custom form-check-solid mt-8">
                <input class="form-check-input" type="checkbox" value="" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <label class="form-check-label" for="flexCheckDefault" style="color: #ffffff">
                    I <a href="www.google.com">agree</a> to the terms of use!
                </label>
            </div>
            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Sign Up" />
            </div>
            <div class="mt-8">
                <input type="submit" class="btn btn-secondary rounded hover-scale" style="width:100%;" value="Sign Up" />
            </div>
        </form>
    </div>
</div>
