@using Caravan.Service.Dtos.Orders;
@model OrderCreateDto

<div class="card w-500px h-630px mt-10 mb-15" style="margin-left:auto; margin-right:auto;">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="orders" enctype="multipart/form-data" asp-action="Create" method="post">
            <label class="form-label fs-2 text-dark" style="">Order Create</label>
            <div class="mt-5">
                <label class="required form-label text-dark">Order Name</label>
                <input type="text" asp-for=Name class="form-control form-control-solid" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Image</label>
                <input type="file" asp-for=Image class="form-control form-control-solid"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">Order Weight</label>
                <input type="number" asp-for=Weight class="form-control form-control-solid"/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-dark">Order Size</label>
                <input type="text" asp-for=Size class="form-control form-control-solid"/>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">LocationName</label>
                <input type="text" asp-for=LocationName class="form-control form-control-solid"/>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            
            <div class="mt-5">
                <label class="required form-label text-dark">Price</label>
                <input type="number" asp-for=Price class="form-control form-control-solid"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">CurrentlyLocation.Latitude</label>
                <input type="number" asp-for=CurrentlyLocation.Latitude class="form-control form-control-solid"/>
                <span asp-validation-for="CurrentlyLocation.Latitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">CurrentlyLocation.Longitude</label>
                <input type="number" asp-for=CurrentlyLocation.Longitude class="form-control form-control-solid"/>
                <span asp-validation-for="CurrentlyLocation.Longitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">TransferLocation.Latitude</label>
                <input type="number" asp-for=TransferLocation.Latitude class="form-control form-control-solid"/>
                <span asp-validation-for="TransferLocation.Latitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-dark">TransferLocation.Longitude</label>
                <input type="number" asp-for=TransferLocation.Longitude class="form-control form-control-solid"/>
                <span asp-validation-for="TransferLocation.Longitude" class="text-danger"></span>
            </div>

            <div class="mt-13">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Create" />
            </div>
            <div class="mt-5 mb-8">
                <a class="btn btn-secondary" asp-controller="home" asp-action="index" style="width:100%">
                    Close
                </a>
            </div>
        </form>
    </div>
</div>