@using Caravan.Service.Dtos.Orders;
@model OrderUpdateDto

<div class="card w-550px h-630px mt-10 mb-10" style="margin-left:auto; margin-right:auto;">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="orders" enctype="multipart/form-data" asp-action="Update" asp-route-orderId="@ViewBag.orderId" method="post">
            <label class="form-label fs-2 text-primary" style="">Order Update</label>
            <div class="mt-5">
                <label class="required form-label text-primary">Order Name</label>
                <input type="text" asp-for=Name class="form-control form-control-solid"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Image</label>
                <input type="file" asp-for=Image class="form-control form-control-solid"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Order Weight</label>
                <input type="text" asp-for=Weight class="form-control form-control-solid"/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label text-primary">Order Size</label>
                <input type="text" asp-for=Size class="form-control form-control-solid"/>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">LocationName</label>
                <input type="text" asp-for=LocationName class="form-control form-control-solid"/>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Price</label>
                <input type="text" asp-for=Price class="form-control form-control-solid"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">CurrentlyLocation.Latitude</label>
                <input type="text" asp-for=CurrentlyLocation.Latitude class="form-control form-control-solid"/>
                <span asp-validation-for="CurrentlyLocation.Latitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">CurrentlyLocation.Longitude</label>
                <input type="text" asp-for=CurrentlyLocation.Longitude class="form-control form-control-solid"/>
                <span asp-validation-for="CurrentlyLocation.Longitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">TransferLocation.Latitude</label>
                <input type="text" asp-for=TransferLocation.Latitude class="form-control form-control-solid"/>
                <span asp-validation-for="TransferLocation.Latitude" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">TransferLocation.Longitude</label>
                <input type="text" asp-for=TransferLocation.Longitude class="form-control form-control-solid"/>
                <span asp-validation-for="TransferLocation.Longitude" class="text-danger"></span>
            </div>
            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="UPDATE" />
            </div>
            <div class="mt-5 mb-8">
                <a class="btn btn-secondary" asp-controller="orders" asp-action="index" style="width:100%">
                    CLOSE
                </a>
            </div>
        </form>
    </div>
</div>