@using Caravan.Service.Dtos.Orders;
@model OrderCreateDto

<div class="card w-500px h-630px mt-10 mb-10" style="border: 2px solid rgba(255,255,255,0.1); backdrop-filter: blur(15px); margin-left:auto; margin-right:auto; background-color: rgba(255,255,255,0.13); box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="orders" asp-action="create" method="post">
            <label class="form-label fs-2" style="">Order Create</label>
            <div class="mt-5">
                <label class="required form-label">Name</label>
                <input type="text" asp-for=Name class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Order Weight</label>
                <input type="text" asp-for=Weight class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <label class="required form-label">Order Size</label>
                <input type="text" asp-for=Size class="form-control form-control-solid" placeholder="+998yyxxxxxxx" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            
            <div class="mt-5">
                <label class="required form-label">Price</label>
                <input type="number" asp-for=Price class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-check form-check-custom form-check-solid mt-5 ">
                <input class="form-check-input" type="checkbox" value="" />
                <label class="form-check-label" for="flexCheckDefault" style="color: #ffffff">
                    I <a href="www.google.com">agree</a> to the terms of use!
                </label>
            </div>
            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Create" />
            </div>
        </form>
    </div>
</div>